<section class="page-header mb-5">
	<div class="container">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="content pt-3">
	        <h1 class="page-name">{{ title }}</h1>
	        <nav aria-label="breadcrumb">
	          <ol class="breadcrumb">
	            <li class="breadcrumb-item"><a href="#">Home</a></li>
	            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
	          </ol>
	        </nav>
	      </div>
	    </div>
	  </div>
	</div>
</section>