<section class="breadcrumb-section container-fluid ">
    <div class="breadcrumb-product-row row bg-lightgray">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a href="/account">Account</a></li>
                <li class="breadcrumb-item active">Order {{ order.name }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
</section>