  <section class="hero-banner container-fluid d-md-none">
    <div class="row">
      <div class="col p-0">
        <img src="//cdn.shopify.com/s/files/1/0167/9455/0336/files/mobile-banner.jpg?17395067082013827544" alt="" class="w-100">
      </div>
    </div>
  </section>