
<style>
.section_homepage_has-overlay {
  position: relative;
  background-position: center;
  background-size: cover;
}
.section_homepage_has-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.825);
  /* background-color: rgba(255, 255, 255, 0.825); */
}
</style>
<section class="homepage-html-lightgray section section_homepage_100vh section_homepage_has-overlay bg-lightgray py-5"
  style="background-image: url('https://cdn.shopify.com/s/files/1/1535/0149/files/toobs-distribution-las-vegas-expo.jpg');"
  >
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
        <div class="title text-uppercase text-center">
          <h2 class="text-white m-0">{{ section.settings.title }}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div style="position: relative; color: white; font-size: 1.125rem; z-index: 1;">
          {{ section.settings.html }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "HTML Light Gray",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "html",
      "id": "html",
      "label": "Section HTML"
    }
  ],
  "presets": [
    {
      "name": "HTML Light Gray",	
      "settings": {
        "title": "Section Title",
        "html": "Custom HTML"
      }
    }
  ]
}
{% endschema %}