<section class="breadcrumb-section container-fluid mb-5">
    <div class="breadcrumb-page-row row bg-lightgray">
      <div class="container">
        <div class="row">
          <div class="col-md-6 p-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">{{ page.title }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
</section>