<div class="page container">

  <div class="row mb-5">
    <div class="col">
      <div class="section-header text-center">
        <h1 class="text-uppercase mb-0" >{{ page.title }}</h1>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
      {{ page.content }}
    </div>
  </div>

</div>