<section class="mobile-title container pt-5 d-lg-none">
  <div class="title-row row mb-5">
    <div class="col text-center px-0">
      <h5 class="product-title text-uppercase m-0" style="font-weight: 500;" >{{ product.title }}</h5>
    </div>
  </div>
</section>