<section class="mobile-title container pt-4 d-lg-none">
  <div class="title-row row">
    <div class="col text-center px-0">
      <h5 class="product-title text-uppercase" style="font-weight: 500;" >{{product.title}}</h5>
    </div>
  </div>
{% comment %}
  <div class="reviews-row row mb-4">
    <small class="d-inline-block bg-red p-2 text-uppercase text-white mx-auto" >Just Released</small>
  </div>
{% endcomment %}
</section>