<section class="trust-dark container-fluid">
	<div class="row bg-black">

		<div class="container">
			<div class="row">
			
			<div class="trust__col col-md-3 py-4">

				<div class="row">
					<div class="col-4">
				      <div class="svg-wrap">
				        {% include 'icon-phone' %}
				      </div>
					</div>
					<div class="d-flex col-8 align-items-center justify-content-left pr-0">
					    <p class="trust-text text-white mb-0" >{{section.settings.trust-text-1}}</p>	    		
					</div>
				</div>

			</div>
			<div class="trust__col col-md-3 py-4">

				<div class="row">
					<div class="col-4">
				      <div class="svg-wrap">
				        {% include 'icon-plane' %}
				      </div>
					</div>
					<div class="d-flex col-8 align-items-center justify-content-left pr-0">
					    <p class="trust-text text-white mb-0" >{{section.settings.trust-text-2}}</p>	    		
					</div>
				</div>

			</div>
			<div class="trust__col col-md-3 py-4">

				<div class="row">
					<div class="col-4">
				      <div class="svg-wrap">
				        {% include 'icon-certificate' %}
				      </div>
					</div>
					<div class="d-flex col-8 align-items-center justify-content-left pr-0">
					    <p class="trust-text text-white mb-0" >{{section.settings.trust-text-3}}</p>		
					</div>
				</div>

			</div>
			<div class="trust__col col-md-3 py-4">

				<div class="row">
					<div class="col-4">
				      <div class="svg-wrap">
				        {% include 'icon-shield' %}
				      </div>
				    </div>
					<div class="d-flex col-8 align-items-center justify-content-left pr-0">
					    <p class="trust-text text-white mb-0" >{{section.settings.trust-text-4}}</p>
					</div>
				</div>

			</div>

			</div>
		</div>
			
	</div>
</section>


{% schema %}
{
  "name": "Trust",
  "settings": [
    {
      "type": "text",
      "id": "trust-text-1",
      "label": "First Trust Text",
      "default": "WORLDWIDE SHIPPING"
    },
    {
      "type": "text",
      "id": "trust-text-2",
      "label": "Second Trust Text",
      "default": "FREE RETURNS WORLDWIDE ON ORDERS OVER $50"
    },
    {
      "type": "text",
      "id": "trust-text-3",
      "label": "Third Trust Text",
      "default": "24 MONTH WARRANTY ON ALL PRODUCTS"
    },
    {
      "type": "text",
      "id": "trust-text-4",
      "label": "Fourth Trust Text",
      "default": "100% SAFE & SECURE CHECKOUT"
    }
  ]
}
{% endschema %}