{% comment %}{% include 'page-header', title: {{page.title}} %}{% endcomment %}

{% section 'page-breadcrumb' %}

<style>
.form-control-placeholder {
  display: none;
}
</style>

<div class="page container">

  <div class="row mb-5">
    <div class="col">
      <div class="section-header text-center">
        <h5 class="product-title text-uppercase d-block d-md-none" style="font-weight: 700;" >Ambassador Program</h5>
        <h1 class="text-uppercase mb-0 d-none d-md-block">Ambassador Program</h1>
      </div>
    </div>
  </div>

  {% comment %}
  {% if page.content %}
    <div class="row mb-5">
      <div class="col">
        {{ page.content }}
      </div>
    </div>
  {% endif %}
  {% endcomment %}

  <div class="row mb-5">
    <div class="col col-lg-6 offset-lg-3">

      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="note form-success">Thank you for applying to our ambassador program!</p>
        {% else %}
          {{ form.errors | default_errors }}

        <div class="form-group">
          <label class="form-control-placeholder" for="name" >Name</label>
          <input type="text" class="form-control" name="contact[name]" id="name" placeholder="Name" >
        </div>
        
        <div class="form-group">
          <label class="form-control-placeholder" for="email" >Email</label>
          <input type="email" class="form-control" name="contact[email]" id="email" placeholder="Email" >
        </div>
        
        <div class="form-group">
          <label class="form-control-placeholder" for="follower" >Follower #</label>
          <input type="text" class="form-control" name="contact[follower]" id="follower" placeholder="Follower #" >
        </div>
        
        <div class="form-group">
          <label class="form-control-placeholder" for="social" >Social Handles</label>
          <input type="text" class="form-control" name="contact[social]" id="social" placeholder="Social Handles">
        </div>
        
        <div class="form-group">
          <label class="form-control-placeholder" for="ambassador" >Preferred Ambassador Code</label>
          <input type="text" class="form-control" name="contact[ambassador]" id="ambassador" placeholder="Preferred Ambassador Code">
        </div>

        <p class="text-center text-uppercase" >START EARNING 20% COMMISSIONS TODAY!</p>

        <button type="submit" id="contact-submit" class="d-block btn btn-black mx-auto w-100" style="max-width: 200px;" >Apply Now</button>

        {% endif %}
      {% endform %}

    </div>
  </div>

</div>