{% include 'page-header', title: 'Our Story' %}


  <section class="about section mb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/1535/0149/files/Started_with_Two_Dudes_1024x1024.png?v=1516331109">
        </div>
        <div class="col-md-6">
        	{{ page.content }}
        </div>
      </div>
    </div>
  </section>
</section>