<style>
#shopify-section-account-banner {
  background-color: black;
  background-image: url("{{ 'default-banner.jpg' | asset_url }}");
}
</style>
<section class="account-banner main-banner section" style="background-image: url('https://cdn.shopify.com/s/files/1/0066/5049/5060/files/black-banner.jpg'); background-color: black; background-position: center; background-size: cover;">
  <div class="container py-5">
    <div class="row">
      <div class="col text-center">
        <h1 class="text-uppercase text-white m-0">Giveaways</h1>
      </div>
    </div>
  </div>
</section>
<section class="mb-5">
  <div class="container py-5">
    <div id="giveawayAccordion">
      <div class="card">
        <div class="card-header" id="giveawayHeadingOne">
          <h3 class="mb-0">
            <button class="text-left btn btn-link text-black w-100" data-toggle="collapse" data-target="#giveawayCollapseOne" aria-expanded="true" aria-controls="giveawayCollapseOne">
              March Mav Glass 10k Giveaway
              <span class="badge badge-info float-right">In Progress</span>
            </button>
          </h3>
        </div>
        <div id="giveawayCollapseOne" class="collapse show" aria-labelledby="giveawayHeadingOne" data-parent="#giveawayAccordion">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9 mb-3">
              <iframe title="vimeo-player" src="https://player.vimeo.com/video/684512742" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="text-center">
              <a href="/collections/all" class="btn btn-black">Shop Toobs To Earn Raffle Tickets!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="giveawayHeadingTwo">
          <h3 class="mb-0">
            <button class="text-left btn btn-link text-black collapsed w-100" data-toggle="collapse" data-target="#giveawayCollapseTwo" aria-expanded="false" aria-controls="giveawayCollapseTwo">
              February Roor Glass Giveaway
              <span class="badge badge-success float-right">Completed</span>
            </button>
          </h3>
        </div>
        <div id="giveawayCollapseTwo" class="collapse" aria-labelledby="giveawayHeadingTwo" data-parent="#giveawayAccordion">
          <div class="card-body">
            <h3 class="mb-3">Winner</h3>
            <div class="alert alert-success mb-3" role="alert">
              Congratulations, Ethan from Herbal Tea
            </div>
            <div class="embed-responsive embed-responsive-16by9">         
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aOI9hK9yH8U?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="giveawayHeadingThree">
          <h3 class="mb-0">
            <button class="text-left btn btn-link text-black collapsed w-100" data-toggle="collapse" data-target="#giveawayCollapseThree" aria-expanded="false" aria-controls="giveawayCollapseTwo">
              January illadelph $4k Giveaway
              <span class="badge badge-success float-right">Completed</span>
            </button>
          </h3>
        </div>
        <div id="giveawayCollapseThree" class="collapse" aria-labelledby="giveawayHeadingThree" data-parent="#giveawayAccordion">
          <div class="card-body">
            <div class="mb-5">
              <h3 class="mb-3">Winner</h3>
              <div class="alert alert-success mb-0" role="alert">
                Congratulations, Grace from Headlines Boutique
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
